#big_room {
  position: absolute;
  width: 994px;
  height: 771px;
  cursor: move;
  background: url(../images/big_room.jpg) no-repeat;

  #sprite {
    background: url(../images/picture_player.png) no-repeat 0 0;
  }

  #shadow {
    width: 198px;
    height: 144px;
    background: url(../images/picture_shadow.png) no-repeat;
    left: -126px;
    top: -47px;
  }

  #floor {
    position: absolute;
    left: 11px;
    bottom: 46px;
    width: 925px;
    height: 508px;
  }

  #computer {
    .item(
			209px,
			134px,
			62,
			
			80px,
			245px,
			
			e(" url(../images/big_room_computer.png) ")
		);

    &.off {
      background-image: url(../images/big_room_computer_off.png);
    }
  }

  #computer_mask {
    .item(
			71px,
			134px,
			30,
			
			138px,
			245px,
			
			e(" url(../images/big_room_computer.png) ")
		);
    background-position: 0 0;

    &.off {
      background-image: url(../images/big_room_computer_off.png);
    }
  }

  #chair {
    .item(
			277px,
			247px,
			104,
			
			71px,
			164px,
			
			e(" url(../images/big_room_chair.png) ")
		);
  }

  #pillar {
    .item(
			765px,
			-70px,
			139,
			
			49px,
			309px,
			
			e(" url(../images/big_room_pillar.png) ")
		);
  }

  #window {
    .item(
			130px,
			-179px,
			998,

			577px,
			506px,
			e(" url(../images/big_room_window.png) ")
		);
  }

  #computer_use {
    .isometric_right;
    width: 170px;
    height: 160px;
    position: absolute;
    left: 134px;
    top: 396px;
    z-index: 2000;
    cursor: pointer;
  }

  #window_use {
    .invisible_door(567px, 536px, 0, -360px);
  }

  #door_corridor {
    .isometric_right;
    .door(395px, 136px, 120px, 226px);
  }
}

#lightbox {
  #computer_screen {
    width: 500px;
    height: 500px;
    border-radius: 15px;
    border: 12px solid #ececec;
    margin: -256px 0 0 -256px;
    position: fixed;
    left: 50%;
    top: 50%;
  }

  #noise_1,
  #noise_2 {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
  }

  #noise_1 {
    background: url(../images/noise_1.png);
  }

  #noise_2 {
    background: url(../images/noise_2.png);
  }

  .eye {
    .isometric_left;
    width: 5px;
    height: 0;
    border-radius: 5px;
    position: absolute;
    left: 310px;
    top: 277px;
    background: #ff0000;
    z-index: 1;
  }

  .text_cloud {
    left: 301px;
    top: 200px;
    z-index: 1;
  }

  #status,
  #completion {
    color: #6add04;
    font: 20px/30px SilkscreenNormal, Courier;
    position: absolute;
    z-index: 3;
  }

  #status {
    text-align: left;
    left: 5%;
    top: 5%;

    .question,
    .cursor {
      cursor: pointer;
    }

    .question {
      color: #ff0000;
    }

    .cursor {
      width: 20px;
      height: 20px;
      display: inline-block;
      background: #ff0000;
    }
  }

  #completion {
    left: 5%;
    bottom: 5%;

    .progress {
      width: 20px;
      height: 20px;
      display: inline-block;
      background: #1d3d01;
      margin-left: 0.2em;
    }

    .one {
      margin-left: 0;
    }
  }
}
