#fridge {
  position: absolute;
  width: 603px;
  height: 1666px;
  cursor: move;
  background: url(../images/fridge.jpg) no-repeat;

  #sprite {
    background: url(../images/picture_player.png) no-repeat 0 0;
  }

  #shadow {
    width: 198px;
    height: 144px;
    background: url(../images/picture_shadow.png) no-repeat;
    left: -126px;
    top: -47px;
  }

  #floor {
    left: 76px;
    bottom: 439px;
    position: absolute;
  }

  #teleport,
  #teleport div {
    border-color: #fefefe;
  }

  #teleport {
    left: 192px;
    top: 160px;
  }

  #teleport .core {
    background: #76b6e3;
    border: 0 none;
    padding: 1px;
    opacity: 0.6;
    box-shadow: 0 0 10px #76b6e3;
  }

  #exit {
    .exit_teleport;
    top: 160px;
    left: 280px;
  }

  #entrance {
    width: 96px;
    height: 389px;
    position: absolute;
    left: 69px;
    bottom: -54px;
    z-index: 1;
    background: url(../images/fridge_entrance.png);
  }

  #entrance_use {
    .isometric_right;
    width: 96px;
    height: 373px;
    position: absolute;
    left: 83px;
    bottom: -70px;
    z-index: 2000;
    cursor: pointer;
  }

  #diamond {
    width: 8px;
    height: 8px;
    border-radius: 8px;
    .isometric_right;
    left: 237px;
    top: -1208px;
    position: absolute;
    background: #ff0000;
    box-shadow: 0 0 5px #ff0000;

    .text_cloud {
      bottom: 20px;
      left: 0;
    }
  }
}

#fly {
  width: 100px;
  height: 100px;
  background: red;
  position: absolute;
  top: -1000px;
  left: 9999px;
  z-index: 1;
  background: url(../images/bird.png);

  .text_cloud {
    bottom: 100px;
    left: 20px;
  }
}

#opened {
  width: 310px;
  height: 310px;
  position: absolute;
  left: -137px;
  bottom: -26px;
  z-index: 999;
  background: url(../images/player_levitate.png);
}
