#intro {
  .head {
    width: 343px;
    height: 460px;
    margin-left: -171px;
    position: absolute;
    top: 60px;
    left: 50%;
  }

  .click {
    cursor: pointer;
  }

  #head_back {
    .head;
    background: url(../images/intro_head_back.jpg) no-repeat;
  }

  #head_hole {
    .click;
    .head;
    background: url(../images/intro_head_hole.png) no-repeat;
  }

  #house {
    width: 200px;
    height: 225px;
    margin-left: -75px;
    position: absolute;
    top: 100px;
    left: 50%;
    background: url(../images/intro_house.png) no-repeat;
  }

  #logo {
    .click;
    width: 148px;
    height: 38px;
    margin-left: -74px;
    position: absolute;
    top: 560px;
    left: 50%;
  }

  #enter {
    .click;
    font: 14px/20px "Neuton", serif;
    text-align: center;
    color: #fce7bd;
    width: 148px;
    margin-left: -74px;
    position: absolute;
    top: 610px;
    left: 50%;
  }

  .message {
    font: 20px/30px "Neuton", serif;
    text-align: center;
    color: #ff3927;
    display: block;
    position: absolute;
    left: 50%;
    z-index: 9999;
    width: 512px;
    margin-left: -256px;
  }

  .player {
    color: #168ad3;
  }

  #message_1 {
    top: 200px;
  }

  #message_2 {
    top: 240px;
  }

  #message_3 {
    top: 200px;
  }

  #message_4 {
    bottom: 200px;
  }

  #message_5 {
    bottom: 240px;
  }
}
