.door (@left, @top, @width: 120px, @height: 240px) {
  width: @width;
  height: @height;
  position: absolute;
  left: @left;
  top: @top;
  z-index: 2000;
  cursor: pointer;
}

.invisible_door (@left, @top, @x: 0, @y: 0) {
  width: 174px;
  height: 111px;
  position: absolute;
  left: @left;
  top: @top;
  z-index: 998;
  cursor: pointer;
  background: url(../images/doors.png) no-repeat @x @y;
}

.item (@pos_x, @pos_y, @pos_z: 0, @width, @height, @background) {
  width: @width;
  height: @height;
  position: absolute;
  left: @pos_x;
  top: @pos_y;
  z-index: @pos_z;
  background: @background no-repeat right;
}

.item_mask (@pos_x, @pos_y, @pos_z: 0, @height, @background) {
  width: 69px;
  height: @height;
  position: absolute;
  left: @pos_x - 69;
  top: @pos_y;
  z-index: @pos_z;
  background: @background no-repeat;
}

.exit_teleport {
  .isometric_top;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  position: absolute;
  z-index: 2000;
  cursor: pointer;
}

.gradient (@top: #262626, @middle: #000, @bottom: #262626) {
  background: @middle;
  background: -moz-linear-gradient(top, @top 0%, @middle 50%, @bottom 100%);
  background: -webkit-linear-gradient(top, @top 0%, @middle 50%, @bottom 100%);
  background: -o-linear-gradient(top, @top 0%, @middle 50%, @bottom 100%);
  background: linear-gradient(top, @top 0%, @middle 50%, @bottom 100%);
}

.isometric_top {
  -moz-transform-origin: top left;
  -webkit-transform-origin: top left;
  -o-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
  -moz-transform: rotate(-30deg) skew(30deg) scaleY(0.866);
  -webkit-transform: rotate(-30deg) skew(30deg) scaleY(0.866);
  -o-transform: rotate(-30deg) skew(30deg) scaleY(0.866);
  -ms-transform: rotate(-30deg) skew(30deg) scaleY(0.866);
  transform: rotate(-30deg) skew(30deg) scaleY(0.866);
}

.isometric_tile(@scale: 1) {
  -moz-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  -moz-transform: rotate(-30deg) skew(30deg) scale(0.59 * @scale, 0.87 * @scale)
    translate(-32px, 20px);
  -webkit-transform: rotate(-30deg) skew(30deg)
    scale(0.59 * @scale, 0.87 * @scale) translate(-32px, 20px);
  -o-transform: rotate(-30deg) skew(30deg) scale(0.59 * @scale, 0.87 * @scale)
    translate(-32px, 20px);
  -ms-transform: rotate(-30deg) skew(30deg) scale(0.59 * @scale, 0.87 * @scale)
    translate(-32px, 20px);
  transform: rotate(-30deg) skew(30deg) scale(0.59 * @scale, 0.87 * @scale)
    translate(-32px, 20px);
}

.isometric_left {
  -moz-transform-origin: top left;
  -webkit-transform-origin: top left;
  -o-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
  -moz-transform: rotate(30deg) skew(30deg) scaleY(0.866);
  -webkit-transform: rotate(30deg) skew(30deg) scaleY(0.866);
  -o-transform: rotate(30deg) skew(30deg) scaleY(0.866);
  -ms-transform: rotate(30deg) skew(30deg) scaleY(0.866);
  transform: rotate(30deg) skew(30deg) scaleY(0.866);
}

.isometric_right {
  -moz-transform-origin: top left;
  -webkit-transform-origin: top left;
  -o-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
  -moz-transform: rotate(-30deg) skew(-30deg) scaleY(0.866);
  -webkit-transform: rotate(-30deg) skew(-30deg) scaleY(0.866);
  -o-transform: rotate(-30deg) skew(-30deg) scaleY(0.866);
  -ms-transform: rotate(-30deg) skew(-30deg) scaleY(0.866);
  transform: rotate(-30deg) skew(-30deg) scaleY(0.866);
}

.origin(@left, @top) {
  -moz-transform-origin: @left @top;
  -webkit-transform-origin: @left @top;
  -o-transform-origin: @left @top;
  -ms-transform-origin: @left @top;
  transform-origin: @left @top;
}

.rotate (@deg) {
  -moz-transform: rotate(@deg);
  -webkit-transform: rotate(@deg);
  -o-transform: rotate(@deg);
  -ms-transform: rotate(@deg);
  transform: rotate(@deg);
}

.scale(@scale) {
  -moz-transform: scale(@scale);
  -webkit-transform: scale(@scale);
  -o-transform: scale(@scale);
  -ms-transform: scale(@scale);
  transform: scale(@scale);
}

.scaleX(@scale) {
  -moz-transform: scaleX(@scale);
  -webkit-transform: scaleX(@scale);
  -o-transform: scaleX(@scale);
  -ms-transform: scaleX(@scale);
  transform: scaleX(@scale);
}

.scaleY(@scale) {
  -moz-transform: scaleY(@scale);
  -webkit-transform: scaleY(@scale);
  -o-transform: scaleY(@scale);
  -ms-transform: scaleY(@scale);
  transform: scaleY(@scale);
}

.transition (@property, @time: 0.5s, @easing: linear) {
  -moz-transition: @property @time @easing;
  -webkit-transition: @property @time @easing;
  -o-transition: @property @time @easing;
  -ms-transition: @property @time @easing;
  transition: @property @time @easing;
}

.translate (@x, @y) {
  -moz-transform: translate(@x, @y);
  -webkit-transform: translate(@x, @y);
  -o-transform: translate(@x, @y);
  -ms-transform: translate(@x, @y);
  transform: translate(@x, @y);
}
