#picture {
  position: absolute;
  width: 795px;
  height: 798px;
  cursor: move;
  background: url(../images/picture.jpg) no-repeat;

  #sprite {
    background: url(../images/picture_player.png) no-repeat 0 0;
  }

  #shadow {
    width: 198px;
    height: 144px;
    background: url(../images/picture_shadow.png) no-repeat;
    left: -126px;
    top: -47px;
  }

  #floor {
    left: 19px;
    top: 300px;
    position: absolute;
  }

  #teleport,
  #teleport div {
    border-color: #fefefe;
  }

  #teleport {
    left: 260px;
    top: 316px;
  }

  #teleport .core {
    background: #76b6e3;
    border: 0 none;
    padding: 1px;
    opacity: 0.6;
    box-shadow: 0 0 10px #76b6e3;
  }

  #exit {
    .exit_teleport;
    top: 318px;
    left: 349px;
  }

  #gate {
    .isometric_right;
    width: 91px;
    height: 85px;
    position: absolute;
    left: 191px;
    top: 361px;
    z-index: 2000;
    cursor: pointer;
  }
}
