.view {
  min-width: 1024px;
  min-height: 768px;
  position: relative;
  background: url(../images/sky.jpg) repeat-x;
}

.view > div {
  background: url(../images/sky_2.jpg);
}

#clouds_1,
#clouds_2,
#clouds_3 {
  width: 110%;
  height: 110%;
  position: absolute;
  left: -5%;
  top: -5%;
}

#clouds_1 {
  background: url(../images/clouds_1.png);
  z-index: 1;
}

#clouds_2 {
  background: url(../images/clouds_2.png);
  z-index: 3;
}

#clouds_3 {
  background: url(../images/clouds_3.png);
  z-index: 5;
}

#overlay {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9901;
  background: url(../images/view_overlay.png);
  opacity: 0.5;
}

.window {
  position: fixed;
  z-index: 9900;
  background: rgb(152, 152, 152);
  box-shadow: 0 0 10px #989898;
}

#window_up {
  .window;
  width: 100%;
  height: 40px;
  left: 0;
  top: 0;
}

#window_right {
  .window;
  width: 40px;
  height: 100%;
  right: 0;
  top: 0;
}

#window_down {
  .window;
  width: 100%;
  height: 40px;
  left: 0;
  bottom: 0;
}

#window_left {
  .window;
  width: 40px;
  height: 100%;
  left: 0;
  top: 0;
}

#window_middle {
  .window;
  width: 40px;
  height: 100%;
  left: 60%;
  top: 0;
}

#room_view .object {
  position: absolute;
}

.room {
  #aquarium_view {
    width: 244px;
    height: 473px;
    top: 20%;
    left: 10%;
    z-index: 4;
    background: url(../images/aquarium_view.png);
  }

  #boiler_room_view {
    width: 122px;
    height: 147px;
    left: 40%;
    bottom: 25%;
    right: 10%;
    z-index: 1;
    background: url(../images/boiler_room_view.png);

    .smoke {
      width: 5px;
      height: 5px;
      border-radius: 10px;
      position: absolute;
      left: 28px;
      top: -5px;
      background: rgba(0, 0, 0, 0.5);
      opacity: 0;
    }
  }

  #corridor_view {
    width: 320px;
    height: 304px;
    right: 23%;
    bottom: 35%;
    right: 10%;
    z-index: 1;
    background: url(../images/corridor_view.png);

    &.leaves {
      background: url(../images/corridor_view_2.png);
    }
  }
}

.corridor {
  #start_room_view {
    width: 300px;
    height: 269px;
    top: -17%;
    left: -4%;
    z-index: 4;
    background: url(../images/room_view.png);
  }

  #aquarium_view {
    width: 244px;
    height: 461px;
    left: 53%;
    top: -30%;
    right: 10%;
    z-index: 1;
    background: url(../images/aquarium_view_2.png);
  }

  #picture_snow {
    width: 220px;
    height: 195px;
    left: 24%;
    top: 30%;
    right: 10%;
    z-index: 1;
    background: url(../images/picture_snow_view.png);

    &.no_snow {
      background: url(../images/picture_view.png);
    }
  }
}

.kitchen {
  #big_room_view {
    width: 250px;
    height: 199px;
    bottom: 30%;
    right: 40%;
    z-index: 4;

    &.explosion {
      background: url(../images/big_room_view_explosion_2.png) no-repeat;
    }

    #building {
      width: 100%;
      height: 100%;
      background: url(../images/big_room_view.png);
      position: relative;
      z-index: 2;
    }

    #baloon {
      width: 151px;
      height: 219px;
      background: url(../images/big_room_baloon.png);
      position: absolute;
      right: -47px;
      bottom: 132px;
      z-index: 1;
      .origin(79px, 212px);
    }
  }

  #start_room_view {
    width: 220px;
    height: 197px;
    top: 10%;
    left: 10%;
    z-index: 2;
    background: url(../images/room_view_2.png);
  }

  #bathroom_view {
    width: 100px;
    height: 153px;
    top: 6%;
    left: 45%;
    z-index: 1;
    background: url(../images/bathroom_view.png);
  }
}

.bathroom,
.void_bathroom {
  #big_room_view {
    width: 350px;
    height: 292px;
    bottom: 10%;
    right: 60%;
    z-index: 4;

    &.explosion {
      background: url(../images/big_room_view_explosion.png) no-repeat;
    }

    #building {
      width: 100%;
      height: 100%;
      background: url(../images/big_room_view_2.png);
      position: relative;
      z-index: 1;
    }

    #baloon {
      width: 216px;
      height: 313px;
      background: url(../images/big_room_baloon_2.png);
      position: absolute;
      right: 207px;
      bottom: 42px;
      z-index: 2;
      .origin(108px, 299px);
    }
  }

  #start_room_view {
    width: 300px;
    height: 260px;
    top: 20%;
    right: 10%;
    z-index: 2;
    background: url(../images/room_view_3.png);
  }

  #kitchen_view {
    width: 160px;
    height: 123px;
    top: 0%;
    left: 10%;
    z-index: 2;
    background: url(../images/kitchen_view.png);

    &.true {
      height: 152px;
      background: url(../images/kitchen_true_view.png);
    }
  }
}

.big_room {
  #kitchen_view {
    width: 240px;
    height: 210px;
    top: 0;
    right: 0;
    z-index: 2;
    background: url(../images/kitchen_view_2.png);

    &.true {
      background: url(../images/kitchen_true_view_2.png) no-repeat;
    }
  }

  #toilet_view {
    width: 40px;
    height: 92px;
    top: 20%;
    left: 20%;
    z-index: 0;
    background: url(../images/toilet_view.png);
  }

  #fridge_view {
    width: 113px;
    height: 126px;
    top: 50%;
    left: 50%;
    z-index: 0;
    background: url(../images/fridge_view.png);
    opacity: 0.3;
  }
}
