#void {
  position: absolute;
  cursor: move;

  #sprite {
    background: url(../images/hidden_corridor_player.png) no-repeat 0 0;
  }

  #shadow {
    width: 122px;
    height: 102px;
    background: url(../images/hidden_corridor_shadow.png) no-repeat;
    left: -38px;
    top: -28px;
    opacity: 0.5;
  }

  .door {
    width: 40 * 3px;
    height: 7 * 40px;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
  }

  #door {
    .door;
    .isometric_right;
    background: #fff;
    box-shadow: 0 0 10px #fff;
  }

  #use_door {
    .door;
    cursor: pointer;
    background: none;
    z-index: 3000;
  }
}
