<div id="big_room">
	<div id="floor">
		<div id="player">
			<div id="sprite"></div>
			<div id="shadow"></div>
		</div>

		<div id="computer" class="transparent"></div>
		<div id="computer_mask" class="transparent"></div>
		<div id="chair" class="transparent"></div>

		<div id="pillar" class="transparent"></div>

		<div id="window"></div>

	</div>

	<div id="computer_use" data-tooltip="Utilise l'ordinateur"></div>
	<div id="window_use" class="opacity" data-tooltip="Regarde par la fenêtre"></div>
	<div id="door_corridor" data-tooltip="Allez dans le couloir"></div>

</div>