<div id="corridor">
	<div id="floor">
		<div id="player">
			<div id="sprite"></div>
			<div id="shadow"></div>
		</div>

		<div id="glow"></div>

		<div id="phone" class="transparent"></div>
		<div id="phone_mask" class="transparent"></div>
		<div id="phone_shadow"></div>

		<div id="hidden_door">
			<div></div>
		</div>

		<div id="handrail" class="transparent"></div>

		<div id="true_form" class="transparent"></div>
		<div id="true_form_2"></div>
		<div id="true_form_3" class="transparent"></div>

	</div>

	<div id="window" data-tooltip="Regarde par la fenêtre"></div>

	<div id="phone_use" data-tooltip="Le téléphone"></div>

	<div id="door_room" data-tooltip="Aller dans la chambre"></div>
	<div id="door_kitchen" data-tooltip="Aller à la cuisine"></div>
	<div id="door_toilet" class="opacity" data-tooltip="Aller aux toilettes"></div>
	<div id="door_bathroom" class="opacity" data-tooltip="Aller à la salle de bain"></div>
	<div id="door_big_room" class="opacity" data-tooltip="Aller dans la chambre"></div>

	<div id="stairs" data-tooltip="Descendre">
		<div id="stair_1"></div>
		<div id="stair_2"></div>
		<div id="stair_3"></div>
		<div id="stair_4"></div>
	</div>

</div>