<div id="fridge">
	<div id="floor">
		<div id="player">
			<div id="sprite"></div>
			<div id="shadow"></div>
		</div>

		<div id="teleport">
			<div>
				<div>
					<div>
						<div>
							<div class="core">
								<!-- -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="diamond"></div>

		<div id="entrance"></div>

		<div id="exit" data-tooltip="Retour à la chambre"></div>
		<div id="entrance_use" data-tooltip="Sortie"></div>
	</div>

</div>