<div class="close"></div>

<div id="keypad" class="off">
	<div class="on"></div>
	<form>
		<div><input type="submit" value="1" /></div>
		<div><input type="submit" value="2" /></div>
		<div><input type="submit" value="3" /></div>

		<div><input type="submit" value="4" /></div>
		<div><input type="submit" value="5" /></div>
		<div><input type="submit" value="6" /></div>

		<div><input type="submit" value="7" /></div>
		<div><input type="submit" value="8" /></div>
		<div><input type="submit" value="9" /></div>
	</form>
</div>