<div id="kitchen_true">

	<div id="floor">

		<div id="player">
			<div id="sprite"></div>
			<div id="shadow"></div>
		</div>

		<!-- <div id="glow"></div> -->

		<div id="table" class="transparent"></div>
		<div id="table_mask" class="transparent"></div>
		<div id="eye" class="transparent"></div>

		<div id="branches" class="transparent"></div>

		<div id="fridge" class="transparent"></div>

		<div id="light"></div>

		<div id="faux-player"></div>

	</div>

	<div id="fridge_use" class="opacity" data-tooltip="Le frigo"></div>

	<div id="the_green_guy" data-tooltip="On dirait qu'il dort maintenant."></div>

</div>