<div id="room_view" class="view">
	<div>

		<div id="clouds_1"></div>
		<div id="clouds_2"></div>
		<div id="clouds_3"></div>

		<div class="close"></div>

		<div id="window_up"></div>
		<div id="window_down"></div>
		<div id="window_left"></div>
		<div id="window_right"></div>
		<div id="window_middle"></div>

		<div id="overlay"></div>

	</div>
</div>