<div id="void">

	<div id="floor">

		<div id="player">
			<div id="sprite"></div>
			<div id="shadow"></div>
		</div>

		<div id="door"></div>
		<div id="use_door" data-tooltip="Entrer"></div>

	</div>

</div>